<p-dialog header="Condition" [modal]="true" [(visible)]="visible" [style]="{ 'max-width': '30rem' }">
  <form [formGroup]="conditionForm" (submit)="updateCondition()">
    <div class="d-flex justify-content-center pt-2">
      <div class="form-group pb-3">
        <label class="form-label"><i class="bi bi-clipboard2-check"></i> Type</label><br>
        <p-select appendTo="body" [options]="conditionTypes | keyvalue" optionLabel="value" formControlName="questConditionType"
        placeholder="Select a Condition Type" [style]="{ 'min-width': '250px'}" >
          <ng-template pTemplate="selectedItem" translate="no">
            <div class="flex align-items-center gap-2" *ngIf="conditionForm.value.questConditionType" translate="no">
              {{ conditionForm.value.questConditionType.value }}
            </div>
            </ng-template>
          <ng-template pTemplate="item" let-item translate="no">
            <div translate="no">
              {{ item.value }}
            </div>
          </ng-template>
        </p-select>
      </div>
    </div>

    <!-- Jobs -->
    <div class="d-flex justify-content-center pt-2" *ngIf="conditionForm.value.questConditionType.value == 'job'">
      <div class="form-group pb-3">
        <label class="form-label"><i class="bi bi-person-lines-fill"></i> Required Job</label><br>
        <p-select appendTo="body" [options]="allowedJobs | keyvalue" optionLabel="value" formControlName="questConditionJob"
        placeholder="Select a Job" [style]="{ 'min-width': '250px'}">
        <ng-template pTemplate="selectedItem" translate="no">
          <div class="flex align-items-center gap-2" *ngIf="conditionForm.value.questConditionJob" translate="no">
            <img [src]="questGeneratorService.getJobImage(conditionForm.value.questConditionJob.value)" class="udq-select-images"> {{ conditionForm.value.questConditionJob.value }}
          </div>
          </ng-template>
        <ng-template pTemplate="item" let-item translate="no">
          <div translate="no">
            <img [src]="questGeneratorService.getJobImage(item.value)" class="udq-select-images"> {{ item.value }}
          </div>
        </ng-template>
        </p-select>
      </div>
    </div>

    <!-- Points -->
    <div class="d-flex justify-content-center pt-2" *ngIf="conditionForm.value.questConditionType.value == 'points'">
      <div class="form-group pb-3">
        <label class="form-label"><i class="bi bi-dice-6-fill"></i> Minimum Points</label><br>
        <p-inputNumber inputId="points" placeholder="0" min="0" max="999999" formControlName="questConditionPoints" [style]="{ 'min-width': '250px'}"/>
      </div>
    </div>

    <!-- Modules Researched -->
    <div class="d-flex justify-content-center pt-2" *ngIf="conditionForm.value.questConditionType.value == 'moduleResearched'">
      <div class="form-group pb-3">
        <label class="form-label"><i class="bi bi-sim-fill"></i> Module researched</label><br>
        <p-select appendTo="body" [options]="modules | enumToArray" optionLabel="value" formControlName="questConditionModuleResearched"
        placeholder="Select a Module" [style]="{ 'min-width': '250px'}">
        <ng-template pTemplate="selectedItem" translate="no">
          <div class="flex align-items-center gap-2" *ngIf="conditionForm.value.questConditionModuleResearched" translate="no">
            <img [src]="questGeneratorService.getModuleImage(conditionForm.value.questConditionModuleResearched.value)" class="udq-select-images"> {{ conditionForm.value.questConditionModuleResearched.value }}
          </div>
          </ng-template>
        <ng-template pTemplate="item" let-item translate="no">
          <div translate="no">
            <img [src]="questGeneratorService.getModuleImage(item.value)" class="udq-select-images"> {{ item.value }}
          </div>
        </ng-template>
        </p-select>
      </div>
    </div>

    <!-- Chassis Researched -->
    <div class="d-flex justify-content-center pt-2" *ngIf="conditionForm.value.questConditionType.value == 'chassisResearched'">
      <div class="form-group pb-3">
        <label class="form-label"><i class="bi bi-airplane-engines-fill"></i> Chassis researched</label><br>
        <p-select appendTo="body" [options]="chassis | enumToArray" optionLabel="value" formControlName="questConditionChassisResearched"
        placeholder="Select a Chassis" [style]="{ 'min-width': '250px'}">
        <ng-template pTemplate="selectedItem" translate="no">
          <div class="flex align-items-center gap-2" *ngIf="conditionForm.value.questConditionChassisResearched" translate="no">
            <img [src]="questGeneratorService.getChassisImage(conditionForm.value.questConditionChassisResearched.value)" class="udq-select-images"> {{ conditionForm.value.questConditionChassisResearched.value }}
          </div>
        </ng-template>
        <ng-template pTemplate="item" let-item translate="no">
          <div translate="no">
            <img [src]="questGeneratorService.getChassisImage(item.value)" class="udq-select-images"> {{ item.value }}
          </div>
        </ng-template>
        </p-select>
      </div>
    </div>

    <!-- Chassis Built -->
    <div class="d-flex justify-content-center pt-2" *ngIf="conditionForm.value.questConditionType.value == 'chassisBuilt'">
      <div class="form-group pb-3">
        <label class="form-label"><i class="bi bi-airplane-engines-fill"></i> Chassis built</label><br>
        <p-select appendTo="body" [options]="chassis | enumToArray" optionLabel="value" formControlName="questConditionChassisBuilt"
        placeholder="Select a Chassis" [style]="{ 'min-width': '250px'}">
        <ng-template pTemplate="selectedItem" translate="no">
          <div class="flex align-items-center gap-2" *ngIf="conditionForm.value.questConditionChassisBuilt" translate="no">
            <img [src]="questGeneratorService.getChassisImage(conditionForm.value.questConditionChassisBuilt.value)" class="udq-select-images"> {{ conditionForm.value.questConditionChassisBuilt.value }}
          </div>
        </ng-template>
        <ng-template pTemplate="item" let-item translate="no">
          <div translate="no">
            <img [src]="questGeneratorService.getChassisImage(item.value)" class="udq-select-images"> {{ item.value }}
          </div>
        </ng-template>
        </p-select>
      </div>
    </div>

    <!-- Building -->
    <div class="d-flex justify-content-center pt-2" *ngIf="conditionForm.value.questConditionType.value == 'building'">
      <div class="form-group pb-3">
        <label class="form-label"><i class="bi bi-building-fill"></i> Building</label><br>
        <p-select appendTo="body" [options]="buildings | keyvalue" optionLabel="value" formControlName="questConditionBuildingType"
        placeholder="Select a Building" [style]="{ 'min-width': '250px'}">
        <ng-template pTemplate="selectedItem" translate="no">
          <div class="flex align-items-center gap-2" *ngIf="conditionForm.value.questConditionBuildingType" translate="no">
            <img [src]="questGeneratorService.getBuildingImage(conditionForm.value.questConditionBuildingType.value)" class="udq-select-images"> {{ conditionForm.value.questConditionBuildingType.value }}
          </div>
        </ng-template>
        <ng-template pTemplate="item" let-item translate="no">
          <div translate="no">
            <img [src]="questGeneratorService.getBuildingImage(item.value)" class="udq-select-images"> {{ item.value }}
          </div>
        </ng-template>
        </p-select>
      </div>
    </div>
    <div class="d-flex justify-content-center pt-1" *ngIf="conditionForm.value.questConditionType.value == 'building'">
      <div class="form-group pb-3">
        <label class="form-label"><i class="bi bi-box-arrow-up"></i> Building Level</label><br>
        <p-inputNumber inputId="buildingLevel" placeholder="0" min="0" max="100" formControlName="questConditionBuildingLevel" [style]="{ 'min-width': '250px'}"/>
      </div>
    </div>

    <!-- Submit -->
    <div class="d-flex justify-content-center pt-2">
      <input type="submit" [value]="isAdd ? 'Add Condition' : 'Update Condition'" class="btn btn-outline-light" [disabled]="!conditionForm.valid">
    </div>
  </form>
</p-dialog>
