<p-dialog header="Quest Step" [modal]="true" [(visible)]="visible" [style]="{ 'max-width': '30rem' }">
  <form [formGroup]="stepForm" (submit)="updateStep()">

    <!-- Language Selection -->
    <div class="d-flex justify-content-center pt-2">
      <div class="form-group pb-3">
        <input value="DE" [class]="'btn udq-language-button ' + (selectedLanguage == 'DE' ? 'disabled btn-outline-light' : 'btn-outline-secondary')" (click)="switchLanguage('DE')">
        <input value="EN" [class]="'btn udq-language-button ' + (selectedLanguage == 'EN' ? 'disabled btn-outline-light' : 'btn-outline-secondary')" (click)="switchLanguage('EN')">
      </div>
    </div>

    <!-- Translation -->
    <div class="d-flex justify-content-center pt-2">
      Current language is not well known to you?
    </div>
    <div class="d-flex justify-content-center ">
      Use our free Translation! <i class="bi bi-exclamation-circle-fill mx-1 h5" ngbTooltip="Note as a free service it can happen that we run out of free calls. if thats the case try again later or in some days or feel free to use google translate :)"></i>
    </div>
    <div class="d-flex justify-content-center pt-2">
      <input [value]="selectedLanguage == 'DE' ? 'Translate from English' : 'Translate from German'" class="btn btn-outline-light"
        (click)="translateToCurrentLanguage()">
    </div>

    <div class="d-flex justify-content-center pt-2">
      <div class="form-group pb-3">
        <label class="form-label"><i class="bi bi-clipboard2-check"></i> Type</label><br>
        <p-dropdown appendTo="body" [options]="stepTypes" formControlName="stepType"
        placeholder="Select a Step Type" [style]="{ 'min-width': '250px'}">
        <ng-template pTemplate="selectedItem" translate="no">
          <div class="flex align-items-center gap-2" *ngIf="stepForm.value.stepType" translate="no">
            {{ stepForm.value.stepType }}
          </div>
        </ng-template>
        <ng-template pTemplate="item" let-item translate="no">
          <div translate="no">
            {{ item }}
          </div>
        </ng-template>
        </p-dropdown>
      </div>
    </div>

    <!-- Prepared NPC -->
    <div class="d-flex justify-content-center pt-2" *ngIf="stepForm.value.stepType != '' && stepForm.value.stepType != null">
      <div class="form-group pb-3">
        <label class="form-label"><i class="bi bi-airplane-engines-fill"></i> NPC</label><br>
        <p-dropdown appendTo="body" [options]="getNpcList(currentQuest!.prepareNpcs, stepForm.value.stepType)" optionLabel="rulerName" formControlName="stepChosendNpc"
        placeholder="Select NPC" [style]="{ 'min-width': '250px'}">
        <ng-template pTemplate="selectedItem" translate="no">
          <div class="flex align-items-center gap-2" *ngIf="stepForm.value.stepChosendNpc" translate="no">
            {{ stepForm.value.stepChosendNpc.rulerName }}
          </div>
        </ng-template>
        <ng-template pTemplate="item" let-item translate="no">
          <div translate="no">
            {{ item.rulerName }}
          </div>
        </ng-template>
        </p-dropdown>
      </div>
    </div>

    <!--Transact Credits Type -->
    <div class="d-flex justify-content-center pt-1" *ngIf="stepForm.value.stepType == 'transactCredits'">
      <div class="form-group pb-3">
        <label class="form-label"><i class="bi bi-box-arrow-up"></i> Credits Amount</label><br>
        <p-inputNumber inputId="buildingLevel" placeholder="0" min="0"formControlName="stepTransactCreditsAmount" [style]="{ 'min-width': '250px'}"/>
      </div>
    </div>

    <!-- Dialog Type -->
    <div class="d-flex justify-content-center pt-2" *ngIf="stepForm.value.stepType == 'dialogue'">
      <div class="form-group pb-3">
        <label class="form-label"><i class="bi bi-key-fill"></i> Correct Solution Word ({{ selectedLanguage }})</label><br>
        <input type="text" name="stepDialogCorrectWordDe" formControlName="stepDialogCorrectWordDe" [class]="'p-element p-inputwrapper p-inputtext ' + 'd-' + (selectedLanguage == 'DE' ? 'inline' : 'none')" [style]="{ 'min-width': '250px'}" />
        <input type="text" name="stepDialogCorrectWordEn" formControlName="stepDialogCorrectWordEn" [class]="'p-element p-inputwrapper p-inputtext ' + 'd-' + (selectedLanguage == 'EN' ? 'inline' : 'none')" [style]="{ 'min-width': '250px'}" />
      </div>
    </div>

    <!-- Error Information -->
    <div *ngIf="keywordDe != null && (keywordDe.dirty || keywordDe.touched) && keywordDe.value.includes(' ')"
    class="alert alert-danger">
      Correct Solution Word (De) need to be one word.
    </div>
    <div *ngIf="keywordEn != null && (keywordEn.dirty || keywordEn.touched) && keywordEn.value.includes(' ')"
    class="alert alert-danger">
      Correct Solution Word (En) need to be one word.
    </div>

    <!-- Notification -->
    <div class="d-flex justify-content-center pt-2">
      <div class="form-group pb-3" translate="no">
        <label class="form-label"><i class="bi bi-journal-plus"></i> Completion Notification ({{ selectedLanguage }}) <i class="bi bi-question-circle-fill mx-1 h5" ngbTooltip="Markdown can be used for formatting."></i></label>
      </div>
    </div>
    <div class="d-flex justify-content-center pt-2">
      <div class="form-group pb-3" [class]="'d-' + (selectedLanguage == 'DE' ? 'inline' : 'none')">
        <textarea rows="8"cols="28" pInputTextarea name="stepNotificationDe" formControlName="stepNotificationDe"
        class="p-element p-inputwrapper p-inputtext" maxlength="5000"></textarea>
      </div>
      <div class="form-group pb-3" [class]="'d-' + (selectedLanguage == 'EN' ? 'inline' : 'none')">
        <textarea rows="8"cols="28" pInputTextarea name="stepNotificationEn" formControlName="stepNotificationEn"
        class="p-element p-inputwrapper p-inputtext" maxlength="5000"></textarea>
      </div>
    </div>

    <div class="d-flex justify-content-center pt-2" translate="no">
      <label class="form-label"><i class="bi bi-camera-fill"></i> Preview ({{ selectedLanguage }}) <i class="bi bi-question-circle-fill mx-1 h5" ngbTooltip="Styles can be a bit different in Universe Dawn, be aware of that."></i></label><br>
    </div>
    <div class="d-flex justify-content-center pt-1">
      <markdown ngPreserveWhitespaces class="sr-markdown" translate="no"
      [data]="selectedLanguage == 'DE' ? stepForm.value.stepNotificationDe : stepForm.value.stepNotificationEn">
    </markdown>
    </div>

    <p-divider />

    <!-- Submit -->
    <div class="d-flex justify-content-center pt-2">
      <input type="submit" [value]="isAdd ? 'Add Step' : 'Update Step'" class="btn btn-outline-light" [disabled]="!stepForm.valid || !isFormCombinationAllowed()">
    </div>
  </form>
</p-dialog>
