<!-- Steps Overview -->
<p-panel [styleClass]="'mb-2'">
  <ng-template pTemplate="header">
    <div class="flex align-items-center p-2">
      <i class="bi bi-train-front-fill"></i> Steps Overview
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <p-table [value]="selectedQuest.steps | questStepsArray" styleClass="p-datatable-striped p-datatable-sm"
    responsiveLayout="stack" [responsive]="true" [breakpoint]="'600px'">
      <ng-template pTemplate="header">
          <tr>
              <th>Id</th>
              <th>Type</th>
              <th>Ruler / Location</th>
              <th>Action</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-currentStep>
          <tr>
              <td><span class="p-column-title">Id</span> {{ currentStep.id }}</td>
              <td><span class="p-column-title">Type</span>
                <i class="bi bi-cash" *ngIf="currentStep.task.type == 'transactCredits'"></i>
                <i class="bi bi-chat-dots" *ngIf="currentStep.task.type == 'dialogue'"></i>
                {{ currentStep.task.type }}
              </td>
              <td>
                <span class="p-column-title">Ruler / Location</span>
                <ng-container *ngIf="currentStep.task.type == 'transactCredits'">
                  {{ getNpcInfoByRulerName(currentStep.task.rulerName) }}
                </ng-container>
                <ng-container *ngIf="currentStep.task.type == 'dialogue'">
                  {{ getNpcInfoByCoordinates(currentStep.task.coordinates) }}
                </ng-container>
              </td>
              <td>
                <span class="p-column-title">Action</span>
                <button class="btn btn-outline-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  ...
                </button>
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item" (click)="updateStep(selectedQuest, currentStep)">Update</button></li>
                  <li><button class="dropdown-item" (click)="moveStepUp(currentStep)">Move Up</button></li>
                  <li><button class="dropdown-item" (click)="moveStepDown(currentStep)">Move Down</button></li>
                  <li><button class="dropdown-item" (click)="deleteStep(currentStep)">Delete</button></li>
                </ul>
              </td>
          </tr>
      </ng-template>
    </p-table>
    <div class="d-flex justify-content-center pt-2">
      <button class="btn btn-outline-light" (click)="updateStep(selectedQuest, null)">Add Step</button>
    </div>
  </ng-template>
</p-panel>

<!-- Steps with Details -->
<ng-container *ngIf="selectedQuest != undefined">
  <p-panel *ngFor="let currentStep of (selectedQuest.steps | questStepsArray)" toggleable="true" collapsed="true">
    <ng-template pTemplate="header">
      <div class="flex align-items-center p-2">
        <i class="bi bi-person-walking"></i> Step - {{ currentStep.id }} -
        <ng-container *ngIf="currentStep.task.type == 'transactCredits'">
          credits to <b>{{ getNpcInfoByRulerName(currentStep.task.rulerName) }}</b>
        </ng-container>
        <ng-container *ngIf="currentStep.task.type == 'dialogue'">
          dialogue at <b>{{ getNpcInfoByCoordinates(currentStep.task.coordinates) }}</b>
        </ng-container>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <!-- Language Selector -->
      <div class="d-flex justify-content-center pt-1">
        <input value="DE" [class]="'btn udq-language-button ' + (selectedLanguage == 'DE' ? 'disabled btn-outline-light' : 'btn-outline-secondary')" (click)="switchLanguage('DE')">
        <input value="EN" [class]="'btn udq-language-button ' + (selectedLanguage == 'EN' ? 'disabled btn-outline-light' : 'btn-outline-secondary')" (click)="switchLanguage('EN')">
      </div>

      <div>
        <div class="d-flex justify-content-center pt-3">
          <b>General Step Information</b>
        </div>

        <!-- Transaction -->
        <ng-container *ngIf="currentStep.task.type == 'transactCredits'">
          <div class="d-flex justify-content-center pt-2">
            Transfer to Ruler
          </div>
          <div class="d-flex justify-content-center">
           <b>{{ currentStep.task.rulerName }}</b>
          </div>
          <div class="d-flex justify-content-center pt-2">
            Amount of Credits
          </div>
          <div class="d-flex justify-content-center">
            <b>{{ currentStep.task.amount | universeDawnNumberFormat }}</b>
          </div>

          <div class="d-flex justify-content-center pt-2">
            <button class="btn btn-outline-light" (click)="updateStep(selectedQuest, currentStep)">Update Step</button>
          </div>
        </ng-container>

        <!-- Dialog -->
        <ng-container *ngIf="currentStep.task.type == 'dialogue'">
          <div class="d-flex justify-content-center pt-2">
            Coordinates
          </div>
          <div class="d-flex justify-content-center">
            <b>{{ currentStep.task.coordinates | coordinatesNormalised }}</b>
          </div>
          <div class="d-flex justify-content-center pt-2" *ngIf="selectedLanguage == 'DE'">
            Solution Keyword (DE)
          </div>
          <div class="d-flex justify-content-center" *ngIf="selectedLanguage == 'DE'">
            <b>{{ currentStep.task.correctDialogueWord['de'] }}</b>
          </div>
          <div class="d-flex justify-content-center pt-2" *ngIf="selectedLanguage == 'EN'">
            Solution Keyword (EN)
          </div>
          <div class="d-flex justify-content-center" *ngIf="selectedLanguage == 'EN'">
            <b>{{ currentStep.task.correctDialogueWord['en'] }}</b>
          </div>

          <div class="d-flex justify-content-center pt-2">
            <button class="btn btn-outline-light" (click)="updateStep(selectedQuest, currentStep)">Update Step</button>
          </div>

          <p-divider />

          <div class="d-flex justify-content-center pt-3">
            <b>Dialog Options</b> <i class="bi bi-question-circle-fill mx-1 h5" ngbTooltip="The List of dialog options is considered as 'dictionary' what means the order does not influence the quest and order cannot be guaranteed."></i>
          </div>
          <!--Dialog Options -->
          <p-table [value]="getStepDialogOptions(currentStep.task)" styleClass="p-datatable-striped p-datatable-sm" responsiveLayout="stack">
            <ng-template pTemplate="header">
              <tr>
                  <th>Keyword</th>
                  <th>Answer</th>
                  <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-currentDialogOption>
              <tr>
                <td translate="no">
                  <span class="p-column-title">Keyword</span> {{ currentDialogOption[0] }} ({{ selectedLanguage }})
                </td>
                <td>
                  <span class="p-column-title">Answer</span>
                  <div class="d-flex justify-content-center pt-1">
                    <markdown ngPreserveWhitespaces class="sr-markdown" [data]="currentDialogOption[1]" translate="no"></markdown>
                  </div>
                </td>
                <td>
                  <span class="p-column-title">Action</span>
                  <button class="btn btn-outline-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    ...
                  </button>
                  <ul class="dropdown-menu">
                    <li><button class="dropdown-item" (click)="updateStepDialog(currentDialogOption[0], currentDialogOption[1], currentStep.task)">Update</button></li>
                    <li><button class="dropdown-item" (click)="deleteStepDialog(currentDialogOption[0], currentStep.task)">Delete</button></li>
                  </ul>
                </td>
              </tr>
            </ng-template>
          </p-table>

          <div class="d-flex justify-content-center pt-2">
            <button class="btn btn-outline-light" (click)="updateStepDialog(null, null, currentStep.task)">Add Dialog Option</button>
          </div>
        </ng-container>
      </div>

      <p-divider />

      <!-- General Completion Notification after Step is finished -->
      <div>
        <div class="d-flex justify-content-center pt-3">
          <b>Completion Notification ({{ selectedLanguage }})</b>
        </div>
        <div class="d-flex justify-content-center pt-2">
          <markdown ngPreserveWhitespaces class="sr-markdown" translate="no"
              [data]="(selectedLanguage == 'DE' ? currentStep.notification.de.customText : currentStep.notification.en?.customText)">
            </markdown>
        </div>
      </div>

      <p-divider />

      <!-- Rewards -->
      <div>
        <div class="d-flex justify-content-center bt-3 pb-2">
          <b>Rewards for Step Completion</b>
        </div>

        <div class="alert alert-success" *ngIf="currentStep.rewards!.length > 0">
          <p-table [value]="currentStep.rewards!" styleClass="p-datatable-striped p-datatable-sm"
          responsiveLayout="stack" [responsive]="true" [breakpoint]="'600px'">
          <ng-template pTemplate="header">
            <tr class="tablerow-success">
                <th class="tablerow-success">Type</th>
                <th class="tablerow-success">Summary</th>
                <th class="tablerow-success">Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-currentReward let-rowIndex="rowIndex">
            <tr [class]="rowIndex % 2 == 0 ? 'tablerow-success' : 'tablerow-success-odd'">
              <td>
                <span class="p-column-title">Type</span> {{ currentReward.rewardType }}
              </td>
              <td>
                <ng-container *ngIf="currentReward.rewardType == 'giveResources'">
                  {{ getTotalResources(currentReward) | universeDawnNumberFormat }} Resources and
                  {{ getCredits(currentReward) | universeDawnNumberFormat }} Credits
                </ng-container>
                <ng-container *ngIf="currentReward.rewardType == 'giveLicense'">
                  {{ currentReward.licenses }} License for {{ getComponentName(currentReward) }} ({{ currentReward.componentType }})
                </ng-container>
              </td>
              <td>
                <span class="p-column-title">Action</span>
                <button class="btn btn-outline-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  ...
                </button>
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item" (click)="updateStepReward(currentReward, currentStep)">Update</button></li>
                  <li><button class="dropdown-item" (click)="deleteStepReward(currentReward, currentStep)">Delete</button></li>
                </ul>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-currentReward>
            <tr>
              <td colspan="3">
                test
              </td>
            </tr>
          </ng-template>
          </p-table>
        </div>
        <div class="d-flex justify-content-center pt-2">
          <button [id]="currentStep.id + '-add-reward-button'" class="btn btn-outline-light" (click)="updateStepReward(null, currentStep)">Add Reward</button>
        </div>
      </div>
    </ng-template>
  </p-panel>

  <!-- Update Dialogs -->
  <app-quest-generator-step-update #questGeneratorStepUpdateDialog (afterUpdateFunction)="afterUpdateStep($event)"/>
  <app-quest-generator-step-dialog-update #questGeneratorStepDialogUpdateDialog (afterUpdateFunction)="afterChangeFunction.emit()" />
  <app-quest-generator-step-reward-update #questGeneratorStepRewardUpdateComponent (afterUpdateFunction)="afterChangeFunction.emit()" />
</ng-container>
