<!-- Overview Panel -->
<p-panel styleClass="sr-panel-tab-distance sr-panel-distance" toggleable="true" [(collapsed)]="headerCollapsed">
  <ng-template pTemplate="header">
    <div class="flex align-items-center p-2">
      <i class="bi bi-backpack2-fill"></i> Quests
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="d-flex justify-content-center">
      <p>
        This tool was created for a simplified process of creating Quests for <b><a href="https://universe-dawn.com/">Universe Dawn</a></b>
      </p>
    </div>
    <div class="d-flex justify-content-center">
      <p>
        Note that quests are only locally saved on your machine. There is no interaction with any other system.
      </p>
    </div>
    <div class="d-flex justify-content-center">
      <p>
        High council of the Seraphim Rage.
      </p>
    </div>
    <div class="d-flex justify-content-center">
      <img src="/assets/sr-tool-dashboard.jpg" class="img-fluid rounded" alt="SR" style="width:100%;; max-width: 300px;">
    </div>

    <p-divider />

    <div class="d-flex justify-content-center">
      <input value="Create Quest" class="btn btn-outline-light" (click)="updateQuest(null)">
    </div>
    <div class="d-flex justify-content-center">

    <input
      type="file"
      accept="*/*"
      (change)="importQuest($event)"
      hidden
      #questImportInput />
    <div class="d-flex justify-content-center pt-2">
      <input value="Import Quest" class="btn btn-outline-light" (click)="questImportInput.click()">
    </div>

    </div>
    <div class="d-flex justify-content-center pt-2">
      <input value="Clear all Quest" class="btn btn-outline-danger" (click)="clearQuests()">
    </div>

    <p-divider />

    <div class="d-flex justify-content-center">
      <div class="form-group pb-3" *ngIf="quests.length > 0">
        <label class="form-label"><i class="bi bi-backpack-fill"></i> Edit existing Quest</label><br>
        <p-dropdown #selectedQuestDropdown appendTo="body" [(ngModel)]="selectedQuest" [options]="quests" optionLabel="name.de"
        (onChange)="selectedQuestEvent()" placeholder="Select a Quest" [style]="{ 'min-width': '250px'}" />
      </div>
    </div>
  </ng-template>
</p-panel>

<!-- Quest Panel -->
<p-panel styleClass="sr-panel-tab-distance sr-panel-distance" *ngIf="selectedQuest != undefined">
  <ng-template pTemplate="header">
    <div class="flex align-items-center p-2">
      <i class="bi bi-backpack-fill"></i> {{ (selectedLanguage == 'DE' ? selectedQuest.name.de : selectedQuest.name.en) }}
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="d-flex justify-content-center pt-2">
      <input value="Download Quest" class="btn btn-outline-light" (click)="downloadQuest(selectedQuest)" />
      <a #downloadQuestLink [href]="jsonDownloadUrl" [download]="jsonDownloadFilename" type="button" class="btn btn-outline-light ms-2 d-none">Hidden Download Quest</a>
    </div>
    <div class="d-flex justify-content-center pt-2">
      <input value="Delete Quest" class="btn btn-outline-warning" (click)="deleteQuest(selectedQuest)" />
    </div>
    <p-divider />

    <!-- Language Selector -->
    <div class="d-flex justify-content-center pt-1">
        <div [class]="'btn ' + (selectedLanguage == 'DE' ? 'disabled btn-outline-light' : 'btn-outline-secondary')" (click)="switchLanguage('DE')">DE</div>
        <div [class]="'btn ' + (selectedLanguage == 'EN' ? 'disabled btn-outline-light' : 'btn-outline-secondary')" (click)="switchLanguage('EN')">EN</div>
    </div>

    <!-- General Information -->
    <div class="d-flex justify-content-center pt-3">
      <b>Genral Information</b>
    </div>
    <div class="d-flex justify-content-center pt-2">
      {{ (selectedLanguage == 'DE' ? selectedQuest.name[de] : selectedQuest.name[en]) }}
    </div>

    <!-- Notification -->
    <div class="d-flex justify-content-center pt-3">
      <b>Notification ({{ selectedLanguage }})</b>
    </div>
    <div class="d-flex justify-content-center pt-2">
      <markdown ngPreserveWhitespaces class="sr-markdown"
          [data]="(selectedLanguage == 'DE' ? selectedQuest.notification.de.customText : selectedQuest.notification.en?.customText)">
        </markdown>
    </div>
    <div class="d-flex justify-content-center pt-3">
      <button class="btn btn-outline-light" (click)="updateQuest(selectedQuest)">Update Quest Info</button>
    </div>
  </ng-template>
</p-panel>

<p-divider *ngIf="selectedQuest != undefined" />

<!-- Coniditions -->
<app-quest-generator-condition *ngIf="selectedQuest != undefined"
  (afterChangeFunction)="saveQuests()" [selectedQuest]="selectedQuest">
</app-quest-generator-condition>

<p-divider *ngIf="selectedQuest != undefined" />

<!-- Prepare NPCs -->
<app-quest-generator-npc *ngIf="selectedQuest != undefined"
  (afterChangeFunction)="saveQuests()" [selectedQuest]="selectedQuest">
</app-quest-generator-npc>

<p-divider *ngIf="selectedQuest != undefined" />

<!-- Steps -->
<app-quest-generator-step *ngIf="selectedQuest != undefined"
  (afterChangeFunction)="saveQuests()" [(selectedLanguage)]="selectedLanguage" [selectedQuest]="selectedQuest">
</app-quest-generator-step>

<!-- Dialogs -->
<app-quest-generator-general-update #questGeneratorGeneralUpdateDialog (afterUpdateFunction)="afterUpdateQuest($event)"/>
<p-confirmDialog />
